@use '/src/styles/util/mixin' as *;

.description {
  position: relative;
  @include vw(margin-left, 242px);
  @include vw(margin-right, 242px);
  font-size: 4.16rem;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  @include mobile {
    margin: unset;
    font-size: 3.33rem;
    line-height: 1.4;
    gap: 4rem;
  }
  p {
    text-align: center;
  }
}
