@use '/src/styles/util/mixin' as *;

.formItem {
  padding: 2rem;
  background: #d9d9d9;
  border-radius: 0.7rem;
  @include mobile {
    padding: 2rem 2.66rem;
  }
  label {
    display: flex;
    gap: 0.5rem;
    [class*='input-'] {
      flex: 1;
    }
  }
  &:has(textarea) {
    grid-column: 1/3;
    @include mobile {
      grid-column: unset;
    }
    label {
      position: relative;
      @include mobile {
        display: flex;
        align-items: center;
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        background: #d9d9d9;
        @include mobile {
          position: unset;
        }
      }
      textarea {
        text-indent: 9.09rem;
        resize: none;
        @include mobile {
          text-indent: unset;
        }
      }
    }
  }
}
