@use '/src/styles/util/mixin' as *;

.groupAwards {
  display: flex;
  padding: 8.33rem 0;
  @include vw(margin-left, 100px);
  @include vw(margin-right, 100px);
  @include vw(gap, 340px);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  @include mobile {
    margin: unset;
    padding: 4rem 0;
    flex-direction: column;
    gap: 4rem;
  }
  ul {
    padding-right: 5rem;
    @include mobile {
      padding-right: unset;
      display: flex;
      flex-direction: column;
      gap: 1.66rem;
    }
  }
}
