@use '/src/styles/util/mixin' as *;

.groupTitle {
  display: flex;
  justify-content: space-between;
  @include vw(margin-left, 100px);
  @include vw(margin-right, 100px);
  padding: 8.33rem 0;
  @include mobile {
    flex-direction: column;
    justify-content: unset;
    gap: 4rem;
    margin: 0 2.66rem;
    padding: 3.66rem 0 7.28rem;
  }
  .leftArea {
    .headline {
      @include mobile {
        line-height: 1.3;
      }
    }
  }
  .leftArea,
  .rightArea {
    flex: 1;
  }
  .rightArea {
    display: flex;
    flex-direction: column;
    gap: 2.08rem;
    color: #333;
    @include mobile {
      gap: 2.33rem;
    }
    .en {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.3;
      @include mobile {
        font-size: 3rem;
      }
    }
    .kr {
      font-size: 1.67rem;
      line-height: 1.5;
      @include mobile {
        font-size: 2.33rem;
      }
    }
  }
}
