@use '/src/styles/util/mixin' as *;

.groupContact {
  padding: 8.33rem 0;
  display: flex;
  flex-direction: column;
  @include vw(margin-left, 100px);
  @include vw(margin-right, 100px);
  @include mobile {
    margin: 0 2.66rem;
    padding: 2.66rem 0;
  }
  .contactList {
    padding-top: 4.16rem;
    display: flex;
    gap: 13.33rem;
    @include mobile {
      @include mobile {
        flex-direction: column;
        padding-top: 4rem;
        gap: 2.66rem;
      }
    }
  }
  &:global(.contact) {
    padding-bottom: 0;
    @include mobile {
      padding: unset;
    }
  }
}
